<div class="col-md-12">
    <div class="row bbva">
      <div class="col-md-3 margin" >
      </div>
      <div class="col-md-6"><h1 class="text-center white" ><%= titulo %></h1></div>
      <div class="col-md-3">
        <%= partial 'partials/navegador', admin: admin %>
      </div>
    </div>
</div>
<div id="tocable" class="col-md-12">
  <p>&nbsp;</p>

  <form action='/dni' method='post' class="row form">
    <div class="col-sm-offset-4 col-sm-4 form-group">
      <input type="text" name="dni" class="form-control input-lg enfocable" required autofocus
        data-target="input[name='dni']"
        autocomplete="off"
      />

      <select name="tipo" class="form-control input-lg">
        <% Novedad::DOCUMENTOS.each do |tipo, nombre| %>
          <option <%= seleccionado(tipo) %> value="<%= tipo %>">
            <%= nombre %>
          </option>
        <% end %>
      </select>
    </div>


    <div class="col-sm-offset-4 col-sm-4 form-group teclado-contenedor"></div>

    <div class="col-sm-offset-4 col-sm-4 form-group pull-right">
      <button type="submit" class="btn btn-lg btn-info" data-disable-with="Enviando...">Siguiente</button>
    </div>
  </form>
</div>
