<div class="col-md-9">
  <table class="table table-bordered table-striped table-condensed text-left data-table-clientes">
    <thead>
      <tr>
        <th class="col-md-2">Proveedor</th>
        <th class="col-md-2">Alt.</th>
        <th class="col-md-3">Nombre</th>
        <th class="col-md-2">Tipo</th>
        <th class="col-md-2">Doc.</th>
        <th class="controles col-md-1"></th>
      </tr>
    </thead>

    <tbody>
      <% sobres.each do |s| %>
        <% sobre = SobreDecorator.new(s) %>
        <tr>
          <td class="col-md-2"><%= sobre.nro_proveedor %></td>
          <td class="col-md-2"><%= sobre.nro_alternativo %></td>
          <td class="col-md-3"><%= sobre.nombre %></td>
          <td class="col-md-2"><%= sobre.tipo_documento %></td>
          <td class="col-md-2"><%= sobre.nro_documento %></td>
          <td class="controles col-md-1">
            <% if sobre.presente? %>
              <a data-method="post" class="btn btn-danger btn-lg" href="/admin/clientes/<%= sobre.id %>/extraer" role="button" rel="nofollow">
                <i class="glyphicon glyphicon-download-alt"></i>
              </a>
            <% else %>
              <a data-method="post" class="btn btn-primary btn-lg" href="/admin/clientes/<%= sobre.id %>/cargar" role="button" rel="nofollow">
                <i class="glyphicon glyphicon-envelope"></i>
              </a>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="col-md-3">
  <div class="form-group">
    <input type="text" name="filtro" class="filtro form-control input-lg enfocable" placeholder="Buscar..." autofocus data-target="input[name='filtro']"/>
  </div>

  <div class="form-group teclado-contenedor"></div>

  <a class="btn btn-success btn-lg" href="/admin/clientes/cargar" role="button">
    <i class="glyphicon glyphicon-plus"></i>
    Cargar clientes
  </a>
</div>
