<!DOCTYPE html>
<html lang="es">
  <head>
    <%# Estas dos meta tags deben ser las primeras para bootstrap %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= titulo %></title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/softkeys.css" rel="stylesheet">
    <link href="/css/sed.css" rel="stylesheet">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/softkeys.js"></script>
    <script src="/js/teclado.js"></script>
  </head>

  <body>
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <div class="btn-group">
            <% unless inicio? %>
              <a onclick="history.back(-1)" class="btn btn-default" data-target='#' href="#">Volver</a>
            <% end %>
          </div>

          <div class="btn-group">
            <a class="<%= clase_para_nav '/' %>" data-target='#' href="/">Inicio</a>

            <% if admin %>
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <li><a data-target='#' href="#">Auditoría</a></li>
                <li><a data-target='#' href="#">Mantenimiento</a></li>
                <li><a data-target='#' href="#">Autoinventario</a></li>
                <li role="separator" class="divider"></li>
                <li><a data-target='#' href="/panel">Panel</a></li>
              </ul>
            <% end %>
          </div>
        </ul>
      </nav>

      <div class="logo">
        <img alt="BBVA Francés" src="/img/logo.png" />
      </div>
    </div>

    <div class="container-fluid">
      <%# Mensajes de información al usuario sobre las acciones realizadas %>
      <% if (mensaje = flash[:mensaje]).present? %>
        <div class="alert <%= flash[:tipo] %>" role="alert">
          <%= mensaje %>
        </div>
      <% end %>

      <%# Bloque de contenido %>
      <div class="jumbotron">
        <h1><%= titulo %></h1>

        <%# `content` es la vista pasada al layout por `render 'vista'` %>
        <%= content %>
      </div>

      <footer class="footer navbar-fixed-bottom">
        <p class="pull-right">&copy; 2017, BBVA Francés</p>
      </footer>
    </div>
  </body>
</html>
